* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
body .green-text {
  color: #41EABA;
}
body section {
  padding: 100px;
  position: relative;
}
body button {
  padding: 10px 20px;
  font-family: "Gotham Medium", sans-serif;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: color 0.4s ease;
  border: 3px solid #41EABA;
  background-color: #fff;
  color: #062966;
}
body nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0px 20px;
  height: 110px;
  position: fixed;
  background: linear-gradient(rgba(5, 0, 136, 0.5), rgba(5, 0, 136, 0.5)), url(images/banner.webp);
  z-index: 1;
  width: 100%;
  overflow: visible;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
body nav.scrolled {
  background: #fff;
  transition: all ease 0.25s;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
body nav.scrolled .header-nav a {
  color: #062966;
}
body nav.scrolled .header-button {
  color: #062966;
}
body nav .header-logo {
  font-size: 0px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(https://viacreative.co.uk/themes/viacreative/dist/images/logos/tertiary-inverted.png);
}
body nav .header-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: #062966;
}
body nav .header-nav a {
  position: relative;
  transition: all ease 0.25s;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
body nav .header-nav a:hover:after {
  position: absolute;
  display: block;
  content: "";
  height: 4px;
  background: #41EABA;
  width: 100%;
  margin-top: 5px;
}
body nav .header-button {
  position: relative;
  color: #fff;
  /* Text color transition */
  width: 200px;
  justify-self: flex-end;
  border: 3px solid #41EABA;
  background-color: transparent;
  color: #fff;
}
body nav .header-button:hover {
  background-color: #41EABA;
  color: white;
  transition: all ease 0.25s;
  cursor: pointer;
}
body .section-contact {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 100px;
  background-color: #41EABA;
}
body .section-contact .contact-text-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-family: "GroldRounded-Black", sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 30px;
}
body .section-contact .contact-text-container h3 {
  color: #062966;
  margin-bottom: 30px;
  font-size: 24px;
}
body .section-contact .contact-text-container p {
  color: #fff;
}
body .section-contact .contact-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
body .section-contact .form-input {
  height: 56px;
  line-height: 50px;
  border: 0;
  color: #062966;
  padding: 0 15px;
  margin: 0;
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  font-family: "Gotham Book", sans-serif;
  outline: #062966;
}
body .section-contact .contact-textarea {
  height: auto;
  line-height: 32px;
  padding: 15px;
  grid-column: span 2;
}
body .section-contact .contact-send-button {
  grid-column: 2;
  width: 180px;
  justify-self: end;
  background: #062966;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}
body .section-carousel {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 0, 136, 0.5), rgba(5, 0, 136, 0.5)), url(images/banner.webp);
}
body .section-carousel .content {
  margin-top: 100px;
  margin-left: 100px;
  color: white;
}
body .section-carousel .content .slide-left {
  animation: slideleft 1s linear forwards;
}
@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
body .section-carousel .content h1 {
  font-size: 120px;
  line-height: 140px;
  font-weight: 600;
}
body .section-carousel .content p {
  max-width: 500px;
  line-height: 28px;
  margin-bottom: 20px;
  opacity: 0;
}
body .section-carousel .content p.slide-left {
  animation-delay: 1s;
}
body .section-carousel .content .links.slide-left {
  animation-delay: 2s;
}
body .section-carousel .content .links {
  opacity: 0;
}
body .section-carousel .content .links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
body .section-carousel .content .links .btn {
  border: 2px solid white;
  padding: 10px 35px;
  border-radius: 35px;
  margin-right: 35px;
}
body .carousel-has-slant:after {
  content: " ";
  width: 125%;
  height: 109px;
  bottom: -67px;
  left: -25%;
  position: absolute;
  background: white;
  transform: skewY(356deg);
}
body .product-has-slant:after {
  content: " ";
  content: " ";
  width: 125%;
  height: 150px;
  bottom: -50px;
  left: -41%;
  position: absolute;
  background: #41EABA;
  transform: skewY(6deg);
}
body .section-product h1 {
  font-size: 42px;
  color: #062966;
  font-weight: bold;
  font-family: "GroldRounded-Black", sans-serif;
  margin-bottom: 30px;
}
body .section-product .product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 50px;
}
body .section-footer {
  background: #062966;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: #fff;
  gap: 20px;
}
body .section-footer .contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 27px;
}
body .section-footer .contact-info b {
  font-size: 16px;
}
body .section-footer .region-office {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .section-footer .region-office h3 {
  color: #41EABA;
}
body .section-footer .region-office .office-address {
  line-height: 27px;
  font-size: 17px;
}
body .section-footer .region-office .direction-button {
  position: relative;
  color: #fff;
  /* Text color transition */
  width: 160px;
  justify-self: flex-end;
  border: 3px solid #41EABA;
  background-color: #062966;
  color: #fff;
}
body .section-footer .region-office .direction-button:hover {
  background-color: #41EABA;
  color: #fff;
}
body .product-page .product-section .product-container {
  display: flex;
  gap: 80px;
  line-height: 26px;
  align-items: center;
}
body .product-page .product-section .product-container .product-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
}
body .product-page .product-section .product-container .product-button button {
  min-width: 290px;
  border: 3px solid #E82357;
}
body .product-page .product-section .product-container .product-button button:hover {
  color: white;
  background: #E82357;
}
body .product-page .product-section .product-container .product-text-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 17px;
  font-family: "Gotham Book", sans-serif;
  line-height: 26px;
  margin-bottom: 20px;
}
body .product-page .product-section .product-container img {
  height: 400px;
  width: 400px;
}
body .product-page .product-section .product-container .product-description {
  margin-bottom: 20px;
  /* Table Container */
  /* Table Styling */
  /* Table Borders and Padding */
  /* Header Row Styling */
  /* Zebra Striping */
  /* Hover Effect */
}
body .product-page .product-section .product-container .product-description h2 {
  color: #E82357;
  margin-bottom: 20px;
  font-size: 24px;
}
body .product-page .product-section .product-container .product-description h3 {
  color: #E82357;
  margin-bottom: 20px;
  font-size: 20px;
}
body .product-page .product-section .product-container .product-description .table-container {
  max-width: 600px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body .product-page .product-section .product-container .product-description .specifications-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
body .product-page .product-section .product-container .product-description .specifications-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}
body .product-page .product-section .product-container .product-description .specifications-table th {
  height: 50px;
  font-weight: bold;
  background-color: #F3335D;
  color: white;
  text-align: left;
  padding-left: 20px;
}
body .product-page .product-section .product-container .product-description .specifications-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
body .product-page .product-section .product-container .product-description .specifications-table tr:hover {
  background-color: #fae6ea;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */