* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  position: relative;
  color: #1e2d3b;
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  line-height: 1.3;
  /* CSS */
}
body a {
  text-decoration: none;
}
body button {
  background-color: #1e2d3b;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  color: white;
  cursor: pointer;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
}
body button:active {
  border-color: #4a4a4a;
  outline: 0;
}
body button:focus {
  border-color: #485fc7;
  outline: 0;
}
body button:hover {
  border-color: #b5b5b5;
  background-color: white;
  color: #363636;
}
body button:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}
body .caret-down {
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  border-top: solid 8px #fff;
  height: 0;
  width: 0;
  margin-left: 6px;
}
body .hide {
  display: none !important;
}
body header .header-contact {
  display: grid;
  grid-template-columns: 0.1fr 0.16fr 0.15fr;
  color: #16469d;
  justify-content: flex-end;
  gap: 10px;
  margin: 10px 10px;
}
body header .header-contact .header-contact-text {
  display: flex;
  gap: 10px;
}
body header .header-contact img {
  height: 20px;
  width: 20px;
}
body header .whatsapp-icon {
  position: fixed;
  bottom: 60px;
  z-index: 1;
  right: 20px;
}
body header .whatsapp-icon img {
  height: 55px;
  width: 55px;
}
body header nav {
  width: 100%;
  height: 8rem;
  background-color: #1e2d3b;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  cursor: pointer;
  position: relative;
}
body header nav .mobile-menu {
  display: none;
}
body header nav .header-company-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav .header-company-name img {
  height: 8.8rem;
}
body header nav .menu-items {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 10rem;
  gap: 50px;
  list-style: none;
}
body header nav .menu-items .product-item {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
body header nav .menu-items .menu-items-list a {
  display: flex;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
body header nav .menu-items .menu-items-list .product-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 100%;
  left: 0px;
  background: rgba(16, 31, 59, 0.9);
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 20px;
}
body header nav .menu-items .menu-items-list .product-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
body header nav .menu-items .menu-items-list .product-image-container a {
  font-size: 18px;
  text-align: left;
  text-transform: capitalize;
}
body header nav .menu-items .menu-items-list .product-image-container img {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}
body header nav .menu-items .menu-items-list .product-image-container:hover a {
  color: #eccc21;
}
body header nav .menu-items .menu-items-list a:active {
  color: #eccc21;
}
body header nav .menu-items .menu-items-list a:hover {
  color: #eccc21;
}
body header nav .menu-items .menu-items-list a {
  color: white;
  text-decoration: none;
}
body header nav .menu-items .sub-menu-item {
  position: absolute;
  top: 100%;
  list-style-type: none;
  border: 1px solid #e5e6e7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #1e2d3b;
  background-color: white;
}
body header nav .menu-items .sub-menu-item .sub-menu-list-item {
  padding: 10px;
}
body header nav .menu-items .sub-menu-item .sub-menu-list-item a {
  color: #1e2d3b;
}
body header nav .menu-items .sub-menu-item .sub-menu-list-item:hover {
  background-color: gainsboro;
}
body header nav .menu-items .sub-menu-item .sub-menu-list-item:active {
  background-color: #1e2d3b;
}
body main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .contact-group {
  display: none;
}
body main section {
  margin: 20px;
  font-weight: 300;
  width: 100%;
}
body main section h3 {
  font-size: 40px;
  text-align: center;
  padding: 20px 0px;
}
body main .product-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
}
body main .product-section .product-subtext {
  margin-bottom: 20px;
}
body main .product-section .product-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
body main .product-section .product-container .product-details {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5rem;
}
body main .product-section .product-container .product-details img {
  width: 100%;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body main .product-section .product-container .product-details .product-card {
  position: absolute;
  width: 212px;
  height: 100px;
  background-color: white;
  bottom: -3rem;
  right: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #1e2d3b;
}
body main .product-section .product-container .product-details .product-card .product-title {
  text-align: center;
  margin: 10px 0px;
}
body main .product-section .product-container .product-details:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
body main .product-section p {
  font-size: 16px;
  padding: 20px 20px;
}
body main .home-contact-section {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 20px;
}
body main .home-contact-section .home-contact {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
body main .home-contact-section .home-contact img {
  max-width: 500px;
}
body main .home-contact-section .home-contact .contact-text {
  display: grid;
  grid-row: 1fr 1fr 1fr;
  flex-direction: column;
  align-content: space-around;
}
body main .home-contact-section .home-contact .contact-header {
  font-size: 20px;
  text-align: center;
}
body main .home-contact-section .home-contact .contact-subtext {
  font-size: 18px;
}
body main .contact-section {
  grid-template-columns: 0.85fr 1fr;
  display: grid;
  gap: 20px;
}
body main .contact-section .contact-info {
  padding: 30px;
  background: white;
  margin-left: 20px;
  line-height: 1.8;
}
body main .contact-section .contact-info .contact-details {
  margin: 20px 0px;
}
body main .contact-section .contact-info .contact-details .contact-detail {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
body main .contact-section .contact-info .contact-details .contact-detail img {
  height: 40px;
  width: 40px;
}
body main .contact-section .contact-div {
  padding: 30px;
  background-color: white;
  margin-right: 20px;
}
body main .contact-section input {
  padding: 10px;
  border: 0.5px solid gray;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}
body main .testimonal-section .testimonal-flex {
  display: flex;
  gap: 80px;
}
body main .testimonal-section .testimonal-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: -moz-min-content;
  width: min-content;
  padding: 20px;
}
body main .testimonal-section .testimonal-card .customer-title {
  text-align: center;
  padding: 5px 0px;
}
body main .testimonal-section .testimonal-card img {
  height: 200px;
  width: 200px;
}
body main .testimonal-section .testimonal-card .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
body main .our-products-section .slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
body main .our-products-section .slider::before, body main .our-products-section .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
body main .our-products-section .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
body main .our-products-section .slider::before {
  left: 0;
  top: 0;
}
body main .our-products-section .slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
body main .our-products-section .slider .slide {
  height: 100px;
  width: 250px;
}
body main .carousel-section {
  width: 100%;
  background-image: linear-gradient(rgba(5, 0, 136, 0.5), rgba(5, 0, 136, 0.5)), url(images/banner.webp);
  margin-top: 0px;
}
body main .carousel-section .content {
  margin: 5%;
  color: white;
}
body main .carousel-section .content .header1 {
  display: none;
}
body main .carousel-section .content .slide-left {
  animation: slideleft 1s linear forwards;
}
@keyframes slideleft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
body main .carousel-section .content h1 {
  font-size: 100px;
  line-height: 140px;
  font-weight: 500;
}
body main .carousel-section .content p {
  max-width: 500px;
  line-height: 28px;
  margin-bottom: 20px;
  opacity: 0;
  font-size: 25px;
}
body main .carousel-section .content p.slide-left.header1 {
  animation-delay: 0.5s;
}
body main .carousel-section .content p.slide-left {
  animation-delay: 1s;
}
body main .carousel-section .content .links.slide-left {
  animation-delay: 2s;
}
body main .carousel-section .content .links {
  opacity: 0;
}
body main .carousel-section .content .links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
body main .carousel-section .content .links .btn {
  border: 2px solid white;
  padding: 10px 35px;
  border-radius: 35px;
  margin-right: 35px;
}
body main .address-section {
  background-color: #1e2d3b;
  color: white;
  margin-bottom: 0px;
  border-bottom: 5px solid white;
  line-height: 2;
  padding-bottom: 20px;
}
body main .address-section h3 {
  padding-bottom: 20px;
}
body main .address-section .address-container {
  display: flex;
  justify-content: space-around;
}
body main .address-section .address-container .address-details-container h4 {
  font-size: 18px;
  padding-bottom: 10px;
}
body main .address-section .address-container .address-details-container .address-details {
  display: flex;
  gap: 10px;
}
body main .address-section img {
  width: 20px;
  height: 20px;
}
body .about-section {
  margin: 0px;
}
body .about-section .about-img-container {
  max-width: 100%;
  overflow: hidden;
}
body .about-section .about-img-container img {
  width: 100%;
  height: 280px;
  display: block;
}
body .about-section .about-tab-container {
  padding: 20px;
}
body .about-section .about-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body .about-section .about-tab .active {
  background-color: whitesmoke;
  color: black;
}
body .about-section #aboutTab1 {
  display: block;
}
body .about-section .tabcontent {
  display: none;
  border: 0.5px solid transparent;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
}
body .about-section .tabcontent .sub-text {
  padding-left: 20px;
}
body .about-section .tabcontent .sub-text table {
  border-collapse: collapse;
  width: 100%;
}
body .about-section .tabcontent .sub-text table td,
body .about-section .tabcontent .sub-text table th {
  border: 1px solid #ddd;
  padding: 8px;
}
body .about-section .tabcontent .sub-text p {
  padding: 10px;
}
body .about-section .tabcontent h2 {
  margin-bottom: 20px;
}
body .about-section .tabcontent .board-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: -moz-min-content;
  width: min-content;
  padding: 20px;
}
body .about-section .tabcontent .board-card img {
  height: 300px;
  width: 300px;
}
body .about-section .tabcontent .board-card .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
body .about-section .tabcontent .container {
  padding: 2px 16px;
}
body .contact-section input {
  padding: 20px;
}
body main {
  width: 100%;
}
body main .product-page {
  width: 100%;
}
body main .product-page .product-image-banner {
  background: rgb(37, 68, 97);
  background: linear-gradient(90deg, rgb(37, 68, 97) 35%, rgb(117, 234, 237) 100%);
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .product-page .product-image-banner h1 {
  color: #fff;
  font-size: 2.6em;
  letter-spacing: 3px;
  align-items: center;
  justify-content: center;
}
body main .product-page .product-container {
  display: flex;
  margin: 20px;
  padding: 20px;
}
body main .product-page .product-container .product-image {
  margin-top: 4.5%;
  display: block;
}
body main .product-page .product-container .product-image img {
  height: 260px;
  width: 260px;
}
body main .product-page .product-container .product-description {
  padding: 0px 20px;
  line-height: 1.4rem;
}
body main .product-page .product-container .product-description .description-section {
  padding-bottom: 20px;
}
body main .product-page .product-container .product-description .description-section ul {
  margin-left: 20px;
}
body main .gp-product .banner-text {
  position: absolute;
  top: 50%;
  left: 5%;
}
body main .gp-product .banner-text .banner-title {
  font-family: "Helvetica Neue Bold";
  color: #fff;
  font-size: 42px;
  margin-top: 0;
  margin-bottom: 20px;
}
body main .gp-product .product-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
body main .gp-product .product-container img {
  transition: all -0.5s slideInFromLeft;
}
body main .gp-image-banner {
  height: 350px;
  width: auto;
  overflow: hidden;
}
body footer {
  height: 40px;
  background-color: #1e2d3b;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media only screen and (max-width: 600px) {
  /* Styles for screens up to 600px */
  body header .whatsapp-icon {
    position: fixed;
    bottom: 5rem;
    z-index: 1;
    right: 20px;
  }
  body header .whatsapp-icon img {
    height: 66px;
    width: 66px;
  }
  body header .header-contact {
    display: none;
  }
  body header .mobile-menu-items {
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.5s ease-in-out;
  }
  body header .mobile-menu-items ul {
    background-color: #1e2d3b;
  }
  body header .mobile-menu-items ul li {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-bottom: 2px solid white;
    transition: all 0.2s ease;
  }
  body header .mobile-menu-items ul li a {
    text-decoration: none;
    color: white;
  }
  body header nav .menu-items {
    display: none;
  }
  body header nav .mobile-menu {
    display: block;
    margin-top: 20px;
    margin-right: 10px;
  }
  body header nav .mobile-menu img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  body main .contact-group {
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
  }
  body main .contact-group button {
    border-radius: 0px;
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main .contact-group button a {
    color: white;
  }
  body main .contact-group button a:visited {
    color: #1e2d3b;
  }
  body main .contact-group button a:focus {
    color: #1e2d3b;
  }
  body main .home-contact-section {
    display: block;
  }
  body main .home-contact-section .home-contact {
    flex-direction: column;
  }
  body main .home-contact-section .home-contact .contact-text {
    gap: 20px;
  }
  body main .product-section .product-subtext {
    text-align: center;
  }
  body main .product-section .product-container {
    grid-template-columns: 1fr;
  }
  body main .address-section {
    padding-bottom: 4rem;
  }
  body main .address-section .address-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 40px;
  }
  body main .carousel-section .content .header1 {
    display: block;
    font-size: 40px;
    line-height: 70px;
  }
  body main .carousel-section .content h1 {
    display: none;
  }
  body main .about-section .about-tab {
    flex-direction: column;
  }
  body .product-page .product-container {
    flex-direction: column;
  }
}
/* Styles for screens with a minimum width of 601px and a maximum of 900px (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Styles for screens between 601px and 900px */
}/*# sourceMappingURL=style.css.map */