* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  font-size: 14px;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  position: relative;
  color: #1e2d3b;
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  line-height: 1.3;

  a {
    text-decoration: none;
  }

  /* CSS */
  button {
    background-color: #1e2d3b;
    border: 1px solid #dbdbdb;
    border-radius: 0.375em;
    box-shadow: none;
    color: white;
    cursor: pointer;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
    font-size: 1rem;
    height: 2.5em;
    line-height: 1.5;
    padding: calc(0.5em - 1px) 1em;
    text-align: center;
  }

  button:active {
    border-color: #4a4a4a;
    outline: 0;
  }

  button:focus {
    border-color: #485fc7;
    outline: 0;
  }

  button:hover,
  button:visited,
  button:focus,
  button:active {
    border-color: #b5b5b5;
    background-color: white;
    color: #363636;
  }



  button:focus:not(:active) {
    box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
  }

  .caret-down {
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    border-top: solid 8px #fff;
    height: 0;
    width: 0;
    margin-left: 6px;
  }

  .hide {
    display: none !important;
  }

  header {

    .header-contact {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px;
      background-color: whitesmoke;

      .social-media {
        display: flex;
        gap: 10px;

        img {
          height: 30px;
          width: 30px;
          cursor: pointer;
        }
      }

      .header-phone {
        display: flex;
        gap: 10px;

        img {
          height: 20;
          width: 20px;
        }

        .header-contact-text {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }



    }

    .caller-icon {
      position: fixed;
      bottom: 8rem;
      z-index: 1;
      right: 7px;

      img {
        height: 100px;
        width: 100px;
      }
    }

    .whatsapp-icon {
      position: fixed;
      bottom: 60px;
      z-index: 1;
      right: 20px;

      img {
        height: 55px;
        width: 55px;
      }
    }


    .caller-icon {
      position: fixed;
      bottom: 10rem;
      z-index: 1;
      right: 12px;

      img {
        height: 100px;
        width: 100px;
      }
    }

    nav {
      width: 100%;
      height: 8rem;
      background-color: #1e2d3b;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      cursor: pointer;
      position: relative;

      .mobile-menu {
        display: none;
      }

      .header-company-name {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 8.8rem;
        }
      }

      .menu-items {
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 10rem;
        gap: 50px;
        list-style: none;

        .product-item {
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
        }

        .menu-items-list {
          a {
            display: flex;
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            /* justify-content: center; */
          }

          .product-menu {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            position: absolute;
            top: 100%;
            left: 0px;
            background: rgba(16, 31, 59, 0.9);
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 35px;
            padding: 20px;
          }

          .product-image-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            a {
              font-size: 18px;
              text-align: left;
              text-transform: capitalize;
            }

            img {
              height: 150px;
              width: 150px;
              border-radius: 20px;
            }
          }

          .product-image-container:hover {
            a {
              color: #eccc21;
            }
          }

          a:active {
            color: #eccc21;
          }

          a:hover {
            color: #eccc21;
          }

          a {
            color: white;
            text-decoration: none;
          }
        }

        .sub-menu-item {
          position: absolute;
          top: 100%;
          list-style-type: none;
          border: 1px solid #e5e6e7;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          color: #1e2d3b;
          background-color: white;

          .sub-menu-list-item {
            padding: 10px;

            a {
              color: #1e2d3b;
            }
          }

          .sub-menu-list-item:hover {
            background-color: gainsboro;
          }

          .sub-menu-list-item:active {
            background-color: #1e2d3b;
          }
        }
      }
    }
  }

  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .contact-group {
      display: none;
    }

    section {
      margin: 20px;
      font-weight: 300;
      width: 100%;

      h3 {
        font-size: 40px;
        text-align: center;
        padding: 20px 0px;
      }
    }

    .product-section {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      flex-direction: column;

      .product-subtext {
        margin-bottom: 20px;
      }

      .product-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;

        .product-details {
          width: 350px;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          margin-bottom: 5rem;

          img {
            width: 100%;
            height: 250px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

          .product-card {
            position: absolute;
            width: 212px;
            height: 100px;
            background-color: white;
            bottom: -3rem;
            right: 4rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            border: 1px solid #1e2d3b;

            .product-title {
              text-align: center;
              margin: 10px 0px;
            }
          }
        }

        .product-details:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          cursor: pointer;
        }
      }

      p {
        font-size: 16px;
        padding: 20px 20px;
      }
    }

    .home-contact-section {
      margin: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: white;
      padding: 20px;

      .home-contact {
        display: flex;
        flex-direction: row;
        gap: 40px;

        img {
          max-width: 500px;
        }

        .contact-text {
          display: grid;
          grid-row: 1fr 1fr 1fr;
          flex-direction: column;
          align-content: space-around;
        }

        .contact-header {
          font-size: 20px;
          text-align: center;
        }

        .contact-subtext {
          font-size: 18px;
        }
      }
    }

    .contact-section {
      grid-template-columns: 0.85fr 1fr;
      display: grid;
      gap: 20px;

      .contact-info {
        padding: 30px;
        background: white;
        margin-left: 20px;
        line-height: 1.8;

        .contact-details {
          margin: 20px 0px;

          .contact-detail {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            img {
              height: 40px;
              width: 40px;
            }
          }
        }
      }

      .contact-div {
        padding: 30px;
        background-color: white;
        margin-right: 20px;
      }

      input {
        padding: 10px;
        border: 0.5px solid gray;
        border-radius: 10px;
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
      }
    }

    .testimonal-section {
      .testimonal-flex {
        display: flex;
        gap: 80px;
      }

      .testimonal-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: min-content;
        padding: 20px;

        .customer-title {
          text-align: center;
          padding: 5px 0px;
        }

        img {
          height: 200px;
          width: 200px;
        }

        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }

    .our-products-section {
      @mixin white-gradient {
        background: linear-gradient(to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
      }

      $animationSpeed: 40s;

      // Animation
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }

        100% {
          transform: translateX(calc(-250px * 7));
        }
      }

      // Styling
      .slider {
        background: white;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 960px;

        &::before,
        &::after {
          @include white-gradient;
          content: "";
          height: 100px;
          position: absolute;
          width: 200px;
          z-index: 2;
        }

        &::after {
          right: 0;
          top: 0;
          transform: rotateZ(180deg);
        }

        &::before {
          left: 0;
          top: 0;
        }

        .slide-track {
          animation: scroll $animationSpeed linear infinite;
          display: flex;
          width: calc(250px * 14);
        }

        .slide {
          height: 100px;
          width: 250px;
        }
      }
    }

    .carousel-section {
      width: 100%;
      background-image: linear-gradient(rgba(5, 0, 136, 0.5),
          rgba(5, 0, 136, 0.5)),
        url(images/banner.webp);
      margin-top: 0px;

      .content {
        margin: 5%;
        color: white;


        .header1 {
          display: none;
        }

        .slide-left {
          animation: slideleft 1s linear forwards;
        }

        @keyframes slideleft {
          0% {
            transform: translate(100px);
            opacity: 0;
          }

          100% {
            transform: translate(0px);
            opacity: 1;
          }
        }

        h1 {
          font-size: 100px;
          line-height: 140px;
          font-weight: 500;
        }

        p {
          max-width: 500px;
          line-height: 28px;
          margin-bottom: 20px;
          opacity: 0;
          font-size: 25px;
        }

        p.slide-left.header1 {
          animation-delay: .5s;
        }

        p.slide-left {
          animation-delay: 1s;
        }

        .links.slide-left {
          animation-delay: 2s;
        }

        .links {
          opacity: 0;

          a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
          }

          .btn {
            border: 2px solid white;
            padding: 10px 35px;
            border-radius: 35px;
            margin-right: 35px;
          }
        }
      }
    }

    .address-section {
      background-color: #1e2d3b;
      color: white;
      margin-bottom: 0px;
      border-bottom: 5px solid white;
      line-height: 2;
      padding-bottom: 20px;

      h3 {
        padding-bottom: 20px;
      }

      .address-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        margin: 20px;

        .address-details-container {
          h4 {
            font-size: 18px;
            padding-bottom: 10px;
          }

          .address-details {
            display: flex;
            gap: 10px;
          }
        }
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .about-section {
    margin: 0px;

    .about-img-container {
      max-width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 280px;
        display: block;
      }
    }

    .about-tab-container {
      padding: 20px;
    }

    .about-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .active {
        background-color: whitesmoke;
        color: black;
      }
    }

    #aboutTab1 {
      display: block;
    }

    .tabcontent {
      display: none;
      border: 0.5px solid transparent;
      padding: 20px;
      border-radius: 20px;
      margin-top: 20px;
      background-color: white;
      box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);

      .sub-text {
        padding-left: 20px;

        table {
          border-collapse: collapse;
          width: 100%;

          td,
          th {
            border: 1px solid #ddd;
            padding: 8px;
          }
        }

        p {
          padding: 10px;
        }
      }

      h2 {
        margin-bottom: 20px;
      }

      .board-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: min-content;
        padding: 20px;

        img {
          height: 300px;
          width: 300px;
        }

        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
      }

      .container {
        padding: 2px 16px;
      }
    }
  }

  .contact-section {
    input {
      padding: 20px;
    }
  }

  main {
    width: 100%;

    .product-page {
      width: 100%;

      .product-image-banner {
        background: rgb(37, 68, 97);
        background: linear-gradient(90deg, rgba(37, 68, 97, 1) 35%, rgba(117, 234, 237, 1) 100%);
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          color: #fff;
          font-size: 2.6em;
          letter-spacing: 3px;
          align-items: center;
          justify-content: center;
        }
      }

      .product-container {
        display: flex;
        margin: 20px;
        padding: 20px;

        .product-image {
          margin-top: 4.5%;
          display: block;

          img {
            height: 260px;
            width: 260px;
          }
        }

        .product-description {
          padding: 0px 20px;
          line-height: 1.4rem;

          .description-section {
            padding-bottom: 20px;

            ul {
              margin-left: 20px;
            }
          }
        }
      }
    }

    .gp-product {
      .banner-text {
        position: absolute;
        top: 50%;
        left: 5%;

        .banner-title {
          font-family: "Helvetica Neue Bold";
          color: #fff;
          font-size: 42px;
          margin-top: 0;
          margin-bottom: 20px;
        }
      }

      .product-container {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        @keyframes slideInFromLeft {
          0% {
            transform: translateX(-100%);
          }

          100% {
            transform: translateX(0);
          }
        }

        img {
          transition: all -0.5s slideInFromLeft;
        }
      }
    }

    .gp-image-banner {
      height: 350px;
      width: auto;
      overflow: hidden;
    }
  }

  footer {
    height: 40px;
    background-color: #1e2d3b;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

// for mobile
@media only screen and (max-width: 600px) {

  /* Styles for screens up to 600px */
  body {

    header {

      .whatsapp-icon {
        position: fixed;
        bottom: 5rem;
        z-index: 1;
        right: 20px;

        img {
          height: 66px;
          width: 66px;
        }
      }

      .header-contact {
        display: none;
      }

      .mobile-menu-items {
        margin-top: 5px;
        margin-bottom: 5px;
        transition: all .5s ease-in-out;

        ul {
          background-color: #1e2d3b;

          li {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
            border-bottom: 2px solid white;
            transition: all .2s ease;

            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }

      nav {
        .menu-items {
          display: none;
        }

        .mobile-menu {
          display: block;
          margin-top: 20px;
          margin-right: 10px;


          img {
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }

    main {

      .contact-group {
        display: flex;
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 1;

        button {
          border-radius: 0px;
          width: 50%;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            color: white;
          }

          a:visited {
            color: #1e2d3b;
            ;
          }

          a:focus {
            color: #1e2d3b;
            ;
          }
        }
      }

      .home-contact-section {
        display: block;

        .home-contact {
          flex-direction: column;

          .contact-text {
            gap: 20px;
          }
        }
      }

      .product-section {
        .product-subtext {
          text-align: center;
        }

        .product-container {
          grid-template-columns: 1fr;
        }
      }

      .address-section {
        padding-bottom: 4rem;

        .address-container {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          margin-left: 40px;
        }
      }

      .carousel-section {

        .content {
          .header1 {
            display: block;
            font-size: 40px;
            line-height: 70px;
          }

          h1 {
            display: none;
          }
        }
      }

      .about-section {
        .about-tab {
          flex-direction: column;
        }
      }
    }

    .product-page {
      .product-container {
        flex-direction: column;
      }
    }
  }
}

/* Styles for screens with a minimum width of 601px and a maximum of 900px (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* Styles for screens between 601px and 900px */
}